@import "~antd/dist/antd.less";

@white: #fff;
@primary: #06be7f;
@primary-4: #0c6e4d;
@gray-1: #141414;
@gray-2: #1d1d1d;
@gray-4: #303030;
@gray-5: #434343;
@gray-9: #dbdbdb;

* {
  background-color: @gray-2;
  color: @white;
}
.ant-divider {
  width: 100%;
  background-color: @gray-4;
  height: 2px;
  margin: 0;
}

/* Colors */
.bg-white {
  background-color: @white;
}
.bg-primary {
  background-color: @primary;
}
.bg-primary-4 {
  background-color: @primary-4;
}
.text-gray-1 {
  color: @gray-1;
}
.text-gray-4 {
  color: @gray-4;
}
.border-gray-4 {
  border-color: @gray-4;
  border-radius: 4px;
  border-width: 2px;
}
.bg-gray-9 {
  background-color: @gray-9;
}
.text-gray-9 {
  color: @gray-9;
}

/* Fonts */
.primary-font {
  font-family: "Space Grotesk", sans-serif;
}
.secondary-font {
  font-family: "Roboto Mono", monospace;
}

/* Tab styles */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @primary;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  height: 15px;
}
.ant-tabs-ink-bar {
  background: @primary;
}

/* List styles */
.ant-list {
  .ant-empty {
    display: none;
  }
  .ant-list-item {
    padding: 2px 0px;
    border-bottom: none !important;
  }
}

/* Button styles */
.btn {
  color: @white;
  background-color: #00000000;
  border: 2px solid @primary;
  border-radius: 4px;
  padding: 8px 16px;
}
.highlight {
  background-color: @primary;
}

/* Parcel detail styles */
.parcel-detail > div.flex {
  margin: 24px;
}
