@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

@white: #fff;
@primary: #06be7f;
@primary-2: rgba(0, 255, 168, 0.5);
@primary-3: #00FFA8;
@primary-4: #0c6e4d;
@primary-5: #07120C;
@secondary: #767636;
@gray-1: #141414;
@gray-2: #1d1d1d;
@gray-3: #262626;
@gray-4: #303030;
@gray-5: #434343;
@gray-6: #5a5a5a;
@gray-7: #7d7d7d;
@gray-9: #dbdbdb;

* {
  background-color: @primary-5;
  color: @white;
}

.ant-divider {
  width: 100%;
  background-color: @gray-4;
  height: 2px;
  margin: 0;
}

.sidebar {
  width: 400px;
}

.ant-modal-content .ant-btn {
  height: unset;
}

.ant-btn.confirm {
  background-color: @primary;

  span {
    background-color: unset;
  }
}

/* Colors */
.bg-white {
  background-color: @white;
}

.bg-primary {
  background-color: @primary;
}

.bg-primary-4 {
  background-color: @primary-4;
}

.text-gray-1 {
  color: @gray-1;
}

.bg-gray-1 {
  background-color: @primary-5;
}

.text-gray-4 {
  color: @gray-4;
}

.border-gray-4 {
  border-color: @gray-4;
  border-radius: 4px;
  border-width: 2px;
}

.text-gray-7 {
  color: @gray-7;
}

.bg-gray-9 {
  background-color: @gray-9;
}

.text-gray-9 {
  color: @gray-9;
}

.bg-gradient {
  background: linear-gradient(90deg, @primary 0%, #a3fad1 100%);
}

.text-primary-3 {
  color: @primary-3;
}

/* Fonts */
.primary-font {
  font-family: "Inter", sans-serif;
}

.secondary-font {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

.third-font {
  font-family: "Source Sans Pro", sans-serif;
}

/* Tab styles */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @primary;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  @apply secondary-font;
  height: 15px;
}

.ant-tabs-ink-bar {
  background: @primary;
}

/* App */
.app-layout {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  overflow-y: initial;

  @media (max-width: 720px) {
    overflow-y: scroll;
    height: auto;
    background-color: @gray-2;
  }
}

/* List styles */
.list {
  list-style: none;
  .list-item {
    padding: 4px 0px;
  }
}

/* Filter style */
.filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid @gray-5;
  border-radius: 4px;
  padding: 8px;

  .close {
    position: absolute;
    display: flex;
    right: 10px;
  }
}

/* Plots status bar */ 
.plot-status {
  .acres:before {
    content: '';
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border: 3px solid #FFFFFF;
  }
  .total-plots:before {
    content: '';
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border: 3px solid #00FFA8;
  }
  .common:before {
    content: '';
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border: 3px solid #E0E371;
  }
  .subdivision:before {
    content: '';
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border: 3px solid rgba(245, 245, 245, 0.5);
  }
}

/* Map style */
.mapboxgl-map .mapboxgl-popup {

  *:not(.view-plot-btn) {
    background-color: @primary-5;
  }

  .view-plot-btn {
    margin-top: 5px;
  }

  &,
  .mapboxgl-popup-tip {
    background-color: rgba(0, 0, 0, 0);
  }

  &.mapboxgl-popup-anchor-bottom,
  &.mapboxgl-popup-anchor-bottom-right,
  &.mapboxgl-popup-anchor-bottom-left {
    .mapboxgl-popup-tip {
      border-top-color: @primary-5;
    }
  }

  &.mapboxgl-popup-anchor-top,
  &.mapboxgl-popup-anchor-top-right,
  &.mapboxgl-popup-anchor-top-left {
    .mapboxgl-popup-tip {
      border-bottom-color: #07120C;
    }
  }

  &.mapboxgl-popup-anchor-left {
    .mapboxgl-popup-tip {
      border-right-color: #07120C;
    }
  }

  &.mapboxgl-popup-anchor-right {
    .mapboxgl-popup-tip {
      border-left-color: #07120C;
    }
  }
}

.mapboxgl-popup {
  .mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;

    .popup-content {
      width: 155px;
      height: 155px;
      overflow: hidden;
      position: relative;

      .cordinates {
        display: flex;
        flex-direction: column;

        span {
          line-height: 15px;
        }
      }

      img {
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 180px;
        object-fit: cover;
      }
    }
  }
}

.launchpad-popup {
  max-width: 150px;
}

/* Web3Modal style */
.web3modal-modal-lightbox {
  z-index: 20;
}

/* Button styles */
.btn {
  color: @white;
  padding: 8px 16px;
  border-bottom: 1px solid @gray-5;
}

.highlight,
.highlight * {
  background-color: @gray-3;
  border-color: @gray-6;
}

.img-small {
  width: 76px;
  height: auto;
  border-radius: 4px;
}

.connect-wallet {
  background-color: @primary-5;
}

.connect-wallet-button {
  font-size: 16px;
  color: @primary-3;
  border: 1px solid rgba(0, 255, 168, 0.1);
  text-transform: uppercase;

  @media (max-width: 1024px) {
    font-size: 12px;
    margin-right: 0.75rem;
  }
}

.connected {
  background-color: transparent;
  border: 1px solid @primary;

  :hover {
    cursor: default;
  }
}

/* Plot detail styles */
.plot-detail>div.flex {
  margin: 24px;
}

/* Notification styles */
.ant-notification * {
  color: #000;
  background-color: #fff;
}

.logo-display {
  border-color: @primary-2;
}

/* search bar styles */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.search-plots {
  border-color: @gray-4;

  * {
    border-color: @gray-4;
    background-color: transparent;
  }

  @media (max-width: 720px) {
    width: 35%;
  }

  @media (max-width: 450px) {
    width: 40%;
  }
}

:root {
  --toastify-color-light: @gray-2;
}

.error * {
  color: white;
  @apply secondary-font;
}

.bn-notify-custom * {
  background-color: @gray-2  !important;
  color: white;
  @apply secondary-font;
}

/* Web3 Modal styles */
.web3modal-modal-hitbox {
  background-color: @gray-1;
}

.web3modal-provider-container {
  background-color: @gray-2  !important;

  * {
    color: white;
    background-color: inherit !important;
  }
}

#walletconnect-wrapper {
  background-color: @gray-2  !important;

  * {
    color: white;
    background-color: inherit !important;
  }
}

// Scrollbar styles
/* width */
::-webkit-scrollbar {
  width: 15px;
  left: -100px !important;

  @media (max-width: 720px) {
    width: 0;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @gray-5;
  border-radius: 20px;
  border-left: 10px @primary-5 solid;
  border-top: 10px @primary-5 solid;
  border-bottom: 10px @primary-5 solid;
}

/* Plot Detail */
.plot-detail-content {
  overflow-y: scroll;
  max-height: 93vh;

  @media (max-width: 1024px) {
    overflow-y: initial;
    padding-bottom: 2rem;
    max-height: initial;
  }
}

.plot-detail-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.view-plot-btn {
  background-color: @primary;
  border: 1px solid @gray-5;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 5px;
  max-width: 220px;

  @media (max-width: 475px) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.read-agreement-btn {
  background-color: @secondary;
  border: 1px solid @gray-5;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 5px;
  max-width: 220px;

  @media (max-width: 475px) {
    margin-left: 0;
    margin-top: 5px;
  }
}

/* BrowsePlots Layout */
.progress-bar-indicator {
  margin-left: 3rem;

  @media (max-width: 475px) {
    margin-left: 2rem;
  }

  @media (max-width: 425px) {
    margin-left: 0;
  }
}

.ant-tabs-content-holder {
  overflow-y: scroll;
  margin-bottom: 0.75rem;

  @media (max-width: 720px) {
    overflow-y: initial;
  }
}

.search-plots-input {
  width: 100%;

  @media (max-width: 500px) {
    max-width: 85%;
  }
}

.browse-plots-wrapper {
  height: 100%;
  display: grid;
  background-color: @primary-5;
  grid-template-columns: 1fr 365px;
  grid-template-rows: 0rem 4rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  // .details {
  //   grid-area: 3 / 2 / 4 / 3;
  // }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem repeat(2, 4rem) 300px 4rem 5fr;
  }

  // Responsive for mobile landscape screens
  @media (max-height: 500px) {
    grid-template-rows: 3rem repeat(2, 4rem) 300px 4rem 600px;
  }
}

.progress-bar {
  grid-area: 1 / 1 / 2 / 3;
}

.logo-link {
  grid-area: 2 / 1 / 3 / 2;
}

.connect-wallet-section {
  grid-area: 2 / 2 / 3 / 3;
  border-color: @primary-2;
  justify-content: flex-end;
}

.plot-detail {
  grid-area: 3 / 2 / 4 / 3;
}

.plot-tabs {
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
}

.plot-map {
  height: 100%;
  grid-area: 3 / 1 / 4 / 2;
  border-color: @primary-2;
}

.main-content {
  grid-area: 3 / 1 / 4 / 2;
  margin-top: 5px;
}

.location-detail {
  padding: 4% 7% 6% 7%;
  border-color: @primary-2;

  .address {
    text-align: left;
    max-width: 250px;
  }

  .description {
    max-width: 210px;
  }
}

@media (max-width: 1024px) {
  .progress-bar {
    grid-area: 1 / 1 / 2 / 2;
  }

  .logo-link {
    grid-area: 2 / 1 / 3 / 2;
  }

  .connect-wallet-section {
    grid-area: 3 / 1 / 4 / 2;
    justify-content: center;
    max-width: 100vw;
  }

  .plot-map {
    grid-area: 4 / 1 / 5 / 2;
  }

  .plot-tabs {
    grid-area: 5 / 1 / 7 / 2;
    max-width: 100vw;
  }

  .plot-detail {
    grid-area: 6 / 1 / 7 / 2;
  }
}